@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, #93c572 70%, #c8ebb1 30%);
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.wave {
  position: absolute;
  top: 0;
  right: 30%;
  transition: all ease-in-out 0.5s;
}
nav {
  width: 90%;
  margin: auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all ease-in-out 0.5s;
}
nav ul {
  display: flex;
  list-style-type: none;
  transition: all ease-in-out 0.5s;
}
nav ul li {
  margin: 0 5px;
}
nav ul a {
  text-decoration: none;
  padding: 0.3rem 1.3rem;
  font-size: 17px;
  font-weight: bold;
  color: #494234;
  position: relative;
  z-index: 1;
}
nav ul a::after {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  border-radius: 20px;
  background-color: #fdfdfd41;
  z-index: -1;
  transition: 0.5s;
}
nav ul a:hover:after {
  width: 100%;
}
.swapper {
  display: flex;
  justify-content: start;
  margin-left: 80px;
  margin-top: 50px;
  transition: all ease-in-out 0.5s;
}
.swapper .icon {
  height: 70px;
  width: 70px;
  margin: 30px;
  transition: all ease-in-out 0.5s;
}
.icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease-in-out 0.5s;
}
.icon :hover {
  transform: translateY(-15px);
}

.main-content {
  width: 60%;
  padding-top: 100px;
  margin-left: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all ease-in-out 0.5s;
}
.image-apple,
.main-text {
  flex-basis: 50%;
  transition: all ease-in-out 0.5s;
}
.image-apple img {
  width: 100%;
  transition: all ease-in-out 0.5s;
}
.main-content h1 {
  font-size: 60px;
  letter-spacing: 1px;
  color: #494234;
}
.main-content p {
  margin-top: 10px;
  font-size: 15px;
  letter-spacing: 1px;
}
.main-content button {
  margin-top: 2.5rem;
  outline: none;
  border: none;
  font-size: 18px;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  border-radius: 0 50% 50% 0;
  background-color: #494234;
  color: white;
  cursor: pointer;
}
.swiper {
  width: 20rem;
  transition: all ease-in-out 0.5s;
}
#mySwiper {
  transition: all ease-in-out 0.5s !important;
}
.swiper img {
  transition: all ease-in-out 0.5s;
  margin-left: 70px;
}
.right {
  position: absolute;
  right: 6%;
  bottom: 20%;
  transition: all ease-in-out 0.5s;
}
.box {
  display: flex;
  align-items: center;
  transition: all ease-in-out 0.5s;
}
.right .box .image img {
  width: 70%;
  transition: all ease-in-out 0.5s;
}
.image {
  margin-top: 2rem;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: -5px 5px 17px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.5s;
}
.image:hover {
  background-color: rgba(73, 66, 52, 0.7);
}
.box .inner-box {
  margin: 1.5rem 0 0 1rem;
}
.box .inner-box p {
  font-size: 14px;
  font-weight: 500;
}
.social-links {
  position: absolute;
  right: 5%;
  bottom: 5%;
  transition: all ease-in-out 0.5s;
}
.social-links::before {
  content: "";
  width: 80%;
  height: 3px;
  position: absolute;
  top: 42%;
  left: -150px;
  background-color: #494234;
  transition: all ease-in-out 0.5s;
}
.social-links i {
  margin-left: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #93c572;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  transition: all ease-in-out 0.5s;
}
.social-links i:hover {
  transform: translateY(-9px);
  transition: all ease-in-out 0.5s;
}
.Resp {
  position: absolute;
  display: flex;
  height: 100%;
  width: 40%;
  justify-content: center;
  background-color: #4b6934f3;
  display: none;
  z-index: 1000;
  transition: all ease-in-out 0.5s;
}
.Resp ul {
  list-style-type: none;
  margin-left: 30px;
  transition: all ease-in-out 0.5s;
}
.Resp li {
  margin: 30px;
  transition: all ease-in-out 0.5s;
}
.Resp li a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #f9f9f9;
  transition: all ease-in-out 0.5s;
}
.fa-bars {
  display: none;
  transition: all ease-in-out 0.5s;
}
@media screen and (max-width: 1500px) {
  .main-text h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 1438px) {
  .right {
    right: 4%;
  }
}
@media screen and (max-width: 1300px) {
  .main-text h1 {
    font-size: 45px;
  }
  .swiper img {
    margin-left: 40px;
  }
  .swapper {
    margin-left: 50px;
  }
}
@media screen and (max-width: 1240px) {
  .main-text h1 {
    font-size: 40px;
  }
  .swiper img {
    margin-left: 10px;
  }
  .right {
    right: 1%;
  }
}
@media screen and (max-width: 1100px) {
  .main-text h1 {
    font-size: 35px;
  }
  .swiper img {
    margin-left: -25px;
  }
  .swapper {
    margin-left: 20px;
  }
  .social-links::before {
    width: 40%;
    left: -80px;
  }
  .right {
    right: 5%;
  }
  .main-text {
    margin-left: -40px;
  }
}
@media screen and (max-width: 1023px) {
  .main-text {
    margin-left: -100px;
  }
  .swiper img {
    width: 80%;
  }
  .right {
    right: 7%;
  }
  .right p {
    display: none;
  }
}
@media screen and (max-width: 987px) {
  .main-text {
    margin-left: -140px;
  }
  nav {
    margin-left: 10px;
  }
}
@media screen and (max-width: 900px) {
  .swapper {
    flex-direction: column;
    position: absolute;
    right: 45%;
    top: 7%;
  }
  .right {
    top: 15%;
  }
  .main-text {
    position: absolute;
    left: 25%;
    top: 70%;
  }
  .main-content {
    margin-left: 10px;
  }
  .main-content p {
    display: none;
  }
}
@media screen and (max-width: 940px) {
  .fa-bars {
    display: block;
    margin-left: 40px;
    font-size: 30px;
    cursor: pointer;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    display: block;
  }
}
@media screen and (max-width: 890px) {
  .social-links::before {
    display: none;
  }
  .right {
    top: 15%;
  }
}
@media screen and (max-width: 746px) {
  .main-text {
    position: absolute;
    top: 15%;
  }
  .swapper {
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: row;
  }
  .right {
    right: 15%;
  }
  .right h3 {
    display: none;
  }
  .swiper {
    position: absolute;
    top: 55%;
    left: 15%;
  }
}
@media screen and (max-width: 690px) {
  .swapper {
    top: 32%;
  }
  .swapper .icon {
    height: 60px;
    width: 60px;
    margin: 20px;
  }
}
@media screen and (max-width: 597px) {
  .main-text {
    left: 31%;
  }
}
@media screen and (max-width: 546px) {
  .main-text {
    left: 50%;
    top: 10%;
  }
  .swapper {
    right: 22%;
    top: 24%;
  }
  .swiper {
    left: 30%;
    top: 43%;
  }
  .right {
    display: flex;
    align-items: center;
    top: 86%;
  }
  .image {
    background-color: #494234;
  }
  .social-links {
    bottom: 0%;
    right: 25%;
  }
}
@media screen and (max-width: 543px) {
  .swapper {
    right: 20%;
  }
  .right {
    right: 21%;
  }
  .social-links {
    right: 32%;
  }
}
@media screen and (max-width: 477px) {
  .swapper {
    right: 15%;
  }
  .Resp ul {
    margin-left: 20px;
  }
  .right {
    right: 15%;
  }
  .social-links {
    right: 28%;
  }
}
@media screen and (max-width: 437px) {
  .swapper {
    right: 13%;
  }
  .right {
    right: 12%;
  }
}
@media screen and (max-width: 426px) {
  .swapper {
    right: 15%;
  }
  .swiper {
    left: 25%;
  }
  .right {
    justify-content: center;
  }
  .social-links {
    right: 25%;
  }
}
@media screen and (max-width: 394px) {
  .swapper {
    right: 10%;
  }
  .right {
    right: 8%;
  }
}
@media screen and (max-width: 376px) {
  .swapper {
    right: 10%;
  }
  .swiper {
    left: 22%;
  }
  .right {
    right: 8%;
  }
  .social-links {
    right: 23%;
  }
  .Resp ul {
    margin-left: 10px;
  }
}
@media screen and (max-width: 358px) {
  .swapper {
    right: 5%;
  }
  .right {
    right: 7%;
  }
  .social-links {
    right: 25%;
  }
}
@media screen and (max-width: 330px) {
  .swiper {
    left: 16%;
  }
  .right {
    right: 3%;
  }
  .social-links {
    right: 22%;
  }
  .Resp ul {
    margin-left: 7px;
  }
}
.fa-left-long:before {
  background-color: #4b6934f3;
  border: 3px solid #4b6934f3;
}
